
.jimgMenu {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	margin: 25px 0px 0px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1340px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 240px;
}

.jimgMenu ul li.home a {
	background: url(images/Home.PNG) repeat scroll 0%;
}

.jimgMenu ul li.news a {
	background: url(images/News.PNG) repeat scroll 0%;
}

.jimgMenu ul li.events a {
	background: url(images/Events.PNG) repeat scroll 0%;
}
.jimgMenu ul li.members a {
	background: url(images/Members.PNG) repeat scroll 0%;
}

.jimgMenu ul li.photo a {
	background: url(images/Photo.PNG) repeat scroll 0%;
	
}

.jimgMenu ul li.video a {
	background: url(images/Videos.PNG) repeat scroll 0%;
	
}

.jimgMenu ul li.weather a {
	background: url(images/Weather.PNG) repeat scroll 0%;
	
}


.jimgMenu ul li.forum a {
	background: url(images/Forum.PNG) repeat scroll 0%;
	
}

.jimgMenu ul li.guestbook a {
	background: url(images/Guestbook.PNG) repeat scroll 0%;
	
}

.jimgMenu ul li.contact a {
	background: url(images/Contact.PNG) repeat scroll 0%;
	min-width:290px;
	
}

.clear {
	clear: both;
}
