body {background:#fff; font-family:Verdana, Geneva, sans-serif; font-size:12px; line-height:20px; color:#545353;}


	
/* Positions the contact form so it doesn't interfere with any other content, as well as a z-index above any other elements on the page */	

