<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Peaks</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>peaks.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sevlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>sevlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPageServlet</display-name>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>sevlets.UserPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/UserPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>sevlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterUserServlet</display-name>
    <servlet-name>AlterUserServlet</servlet-name>
    <servlet-class>sevlets.AlterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterUserServlet</servlet-name>
    <url-pattern>/AlterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAscentsServlet</display-name>
    <servlet-name>UserAscentsServlet</servlet-name>
    <servlet-class>sevlets.UserAscentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAscentsServlet</servlet-name>
    <url-pattern>/UserAscentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountriesServlet</display-name>
    <servlet-name>CountriesServlet</servlet-name>
    <servlet-class>sevlets.CountriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountriesServlet</servlet-name>
    <url-pattern>/CountriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MountainsServlet</display-name>
    <servlet-name>MountainsServlet</servlet-name>
    <servlet-class>sevlets.MountainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MountainsServlet</servlet-name>
    <url-pattern>/MountainsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproachesServlet</display-name>
    <servlet-name>ApproachesServlet</servlet-name>
    <servlet-class>sevlets.ApproachesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproachesServlet</servlet-name>
    <url-pattern>/ApproachesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectorsServlet</display-name>
    <servlet-name>SectorsServlet</servlet-name>
    <servlet-class>sevlets.SectorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectorsServlet</servlet-name>
    <url-pattern>/SectorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitiesServlet</display-name>
    <servlet-name>CitiesServlet</servlet-name>
    <servlet-class>sevlets.CitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitiesServlet</servlet-name>
    <url-pattern>/CitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>sevlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AscentsServlet</display-name>
    <servlet-name>AscentsServlet</servlet-name>
    <servlet-class>sevlets.AscentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AscentsServlet</servlet-name>
    <url-pattern>/AscentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAscentServlet</display-name>
    <servlet-name>CreateAscentServlet</servlet-name>
    <servlet-class>sevlets.CreateAscentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAscentServlet</servlet-name>
    <url-pattern>/CreateAscentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapServlet</display-name>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>sevlets.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAscentServlet</display-name>
    <servlet-name>DeleteAscentServlet</servlet-name>
    <servlet-class>sevlets.DeleteAscentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAscentServlet</servlet-name>
    <url-pattern>/DeleteAscentServlet</url-pattern>
  </servlet-mapping>
</web-app>